#content {
    margin-top: 60px;
    margin-left: 10%;
    margin-right: 10%;
}

#content #photo {
    box-sizing: content-box;
    width: 30%;
    vertical-align: bottom;
}

#content #intro{
    display: inline-block;
    margin-left: 10%;
    max-width: 55%;
    vertical-align: top;
}

#content #intro > h1 {
    font-size: 50px;
}

#content #intro > pre {
    font-size: 15px;
    overflow: normal;
}