#articles > div.article {
    width: 98%;
    padding: 1%;
    background-clip: content-box;
    margin: 0%;
    border-color: white;
    background-color: pink;
    height:40%;
}

#articles > div.article > img.preview {
    max-width: 30%;
    box-sizing: content-box;
    vertical-align: middle;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: inline;
}

#articles > div.article > div.text{
    display: inline-block;
    max-width: 50%;
    vertical-align: middle;
    margin-left: 6%;
}

#articles > div.article > div.text > h1.title {
    margin-top: 0;
    margin-bottom: 0;
    max-height: 50%;
    font-size: 20px;
}

#articles > div.article > div.text > p.abstract {
    max-height: 50%;
    word-break:normal;
    white-space:pre-warp;
    word-wrap:break-word;
}