#articles > article {
    width: 98%;
    margin: 1%;
    border-color: white;
    background-color: pink;
    height: 300px;
    line-height: 300px;
    display: inline-block;
}

#articles > article > img.preview {
    max-height: 255px;
    box-sizing: content-box;
    vertical-align: middle;
    margin-left: 40px;
}